body {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position:center ;
    position: relative;
    overflow: hidden;
}

.hero{
    border: 4px solid rgb(34, 33, 33);
    border-radius: 16px;
    background-color: rgb(34, 33, 33);
    background-position: center;
    margin: 50px;
    margin-bottom: 10px;
}

#mom {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}

ul li {
    display: inline-block;
    margin-top: auto;
    margin: 5px;
    border-right: 2px solid rgb(8, 221, 8);
    padding-right: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

ul li a:hover {
    transition: 0.2s;
    color: rgb(8, 221, 8);
    font-family: 'Franklin Gothic Medium';
    background-color: #fff;
    padding: 10px;
    border:2px solid #fff;
    border-radius: 15px;
}

#leaf {
    background-color: rgb(8, 221, 8);
    color: #fff;
    border-radius:15px ;
}

section{
    align-items: center;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-top: 20px;
    margin-left: 50px ;
    justify-content: center;
    align-items: center;
}
.gag {
    margin-top: 0;
    color: rgb(8, 221, 8);
    font-weight: 700;
    padding: 10px;
    display: inline;
    font-size: x-large;
}

button {
    border: 2px solid rgb(8, 221, 8);
    border-radius: 20px;
    background-color: rgb(8, 221, 8);
    background-color: rgb(8, 221, 8);
    color: #fff;
    padding: 9px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 8px;
    font-weight: bold;
    transition: 0.5s;
}

button:hover {
    border: 2px solid rgb(8, 221, 8);
    border-radius: 20px;
    background-color:transparent;
    color: rgb(8, 221, 8);
    padding: 9px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 8px;
    font-weight: bold;
    transform: translateY(-12px); 
    cursor: pointer;
 }

main {
    display:flex;
}


 span{
     color:rgb(8, 221, 8);
 }

 #man {
     margin-left: 50px;
     margin-right: 400px;
     justify-content: space-between;
     font-family: Arial, sans-serif;
 }

 h1{
    margin-top: 60px; 
    font-size: 40px;
     color: #fff;
 }
 p{
    font-size: 16px;
    color: #fff;
 }
 
 .frm-img-1 {
     margin-top: 10px;
     border-right: 2px solid rgb(8, 221, 8);
     padding-right: 18px;
     transition: 0.5s;
 }

 .frm-img-1:hover {
       transform: translateY(-12px); 
       cursor: pointer;
    }
 
 .frm-img-4 {
    margin-top: 20px;
    margin-left: 80px;
    border-left: 2px solid rgb(8, 221, 8);
    padding-left: 18px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.frm-img-4:hover {
    transform: translateY(-12px); 
    cursor: pointer;
 }

.man {
    margin-right: 0px;
    display: inline-block;
}
